div.about-container.content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px 0px 0px 50px;
    background-color: #222222;

    font-size: 0px;
    font-weight: 100;
}

.about-text-container{
    display: inline-block;
    width: 50%;

    vertical-align: top;
}

.typewriter-text-container{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
    margin-bottom: 10px;

    font-style: italic;
}

.typewriter-text-container > #typed-text{
    color: #00E3FF;
    opacity: .8;
}

.typewriter-text-container > .text-cursor{
    -webkit-animation: fadeinout 0.5s ease forwards;
    animation: fadeinout 0.5s ease forwards;
    animation-iteration-count: infinite;
    opacity: 0;
    
    display: inline-block;
    width: 3px;
    border-radius: 1px;
    height: 40px;
    background-color: white;

    margin-left: -3px;
    margin-bottom: -5px;

}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.about-text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;

}

.about-cartoon-container{
    display: inline-block;
    width: 50%;
}

.cartoon-scene{
    display: block;
    width: 100%;

    margin-top: 40px;
}