div.contact-container.content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    background-color: #FFAAAE;

    font-weight: 100;
}

.contact-container > .title-container > .title-text{
    color: #222222;
}

.contact-content{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 100px 0px 180px 0px;
}

.contact-field{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;

    font-family: 'Playfair-Display', serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;

    transition: 0.3s ease all;

    z-index: 6;
}

.contact-field > span{
    padding: 0px 10px;
}

.contact-field:hover{
    cursor: pointer;
}

.contact-field.left{
    text-align: left;
}

.contact-field.middle{
    text-align: center;
}

.contact-field.right{
    text-align: right;
}


.contact-field > .underline{
    width: 100%;
    height: 0px;
    position: relative;

    margin-top: -20px;
    opacity: 0.6;
    transition: 0.3s ease all;
}

.contact-field:hover > .underline{
    height: 20px;
}