div.contact-container.content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px 50px 50px 50px;
    background-color: #FFAAAE;

    font-weight: 100;
}

.contact-container > .title-container > .title-text{
    color: #222222;
}

.contact-field{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    max-width: 500px;

    font-family: 'Playfair-Display', serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;

    transition: 0.3s ease all;

    z-index: 6;
}

.contact-field:hover{
    cursor: pointer;
}

.contact-field.left{
    padding-top: 100px;
    text-align: left;
}

/* .contact-field.left:hover{
    transform: translateX(-10px);
} */

.contact-field.middle{
    text-align: center;
}

/* .contact-field.middle:hover{
    transform: translateY(10px);
} */

.contact-field.right{
    padding-bottom: 250px;
    text-align: right;
}

/* .contact-field.right:hover{
    transform: translateX(10px);
} */

.contact-field > .underline{
    width: 100%;
    height: 0px;
    position: relative;

    margin-top: -20px;
    opacity: 0.6;
    transition: 0.3s ease all;
}

.contact-field:hover > .underline{
    height: 20px;
}