
@fontface{
	font-family: headerFont;
	src: url("../fonts/title1.otf")
}

body
{
	background-color: #FFF6F0;
}

.header
{
	padding: 0px;


	position: absolute;
	bottom: -70px;
	left: 20%;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.headerText
{
	font-family: headerFont;
	font-size: 30px;
}
