div.projects-container.content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 50px 0px 50px;
    background-color: #FFED00;
    color: #222222;

    font-size: 0px;
    font-weight: 100;
}

.projects-container > .title-container > .title-text{
    color: #222222;
}

.computer{
    width: 100%;
    max-width: 900px;
    display: block;
    margin: auto;
}

.projects-descriptions-container{
    display: block;
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: 200px;
    margin-bottom: 50px;
    font-size: 0px;
    text-align: center;
}

.projects-content{
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 20px;
}

.projects-content > .title {
    font-size: 34px;
    font-weight: 900;
    font-family: 'Playfair-Display', serif;
    font-style: italic;
}

.projects-content > .text{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;

}