@font-face
{
    font-family: Font;
    src: url('web_font-webfont.eot');
    src: url('web_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_font-webfont.woff') format('woff'),
         url('web_font-webfont.ttf') format('truetype'),
         url('web_font-webfont.svg#coolveticaregular') format('svg');
/*
    font-weight: normal;
    font-style: normal;
*/
}

html
{
    background: url(ps_neutral.png), #FAFAFA;
/*    background-color: gray;*/
/*    background: #FAFAFA;*/

    overflow-x: hidden;
    overflow-y: auto;

    height: 100%;

    margin: 0;
    padding: 0;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

body
{
    background: url(rainbow.png) repeat-x top left;
    background-size: 50% 7px;
    min-width: 700px;
    height: 100%;
    margin: 0;
    padding: 0;
}


h3
{
    font-family: Font;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    color: #1b1b1b;
}

#top
{
    display: block;
    width: 100%;
    height: 30%;
    
    background: transparent;
}

#middle_1
{
    display: block;
    width: 100%;
    height: 70px;
    min-width: 700px;
/*    min-height: 100px;*/
    
    margin-left: auto;
    margin-right: auto;
    
    background: transparent;
    
    font-family: Font, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    color: #1b1b1b;
    
}
#middle_2
{
    display:block;
    width: 100%;
    height: 30px;
    min-width: 700px;
/*    min-height: 100px;*/
    
    margin-left: auto;
    margin-right: auto;
    
    background: transparent;
    
    font-family: Font, sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    color: #1b1b1b;
}

#gap
{
    display: block;
    width: 100%;
    height: 30px;
    min-height: 20px;
    
    background: transparent;
}

#bottom
{
    display: block;
    width: 220px;
    height: 30px;
    min-width: 60px;
    
    margin-left: auto;
    margin-right: auto;
    
    background: transparent;
}

/* Class definitions for <a></a> tags--------------------------------------------------------*/
/*class definition for about button----------------------------------------------------------*/
a.about
{
    display: inline-block;
    width: 50px;
    height: 30px;
    
    margin-left:auto;
    margin-right: auto;
    
    background: url(aboutme.png) no-repeat center center;
    opacity: .8;
}
a.about:hover
{
    opacity: .9;
    margin-bottom: -1px;
}
a.about:active
{
    opacity: 1;
}

/*class definition for github button----------------------------------------------------------*/
a.github
{
    display: inline-block;
    width: 50px;
    height: 30px;
    
    margin-left:auto;
    margin-right: auto;
    
    background: url(github.png) no-repeat center center;
    opacity: .8;   
}
a.github:hover
{
    opacity: .9;
    margin-bottom: -1px;
}
a.github:active
{
    opacity: 1;
}

/*class definition for projects button----------------------------------------------------------*/
a.projects
{
    display: inline-block;
    width: 50px;
    height: 30px;
    
    margin-left:auto;
    margin-right: auto;
    
    background: url(projects.png) no-repeat center center;
    opacity: .8;   
}
a.projects:hover
{
    opacity: .9;
    margin-bottom: -1px;

}
a.projects:active
{
    opacity: 1;
}

/*class definition for contact button----------------------------------------------------------*/
a.contact
{
    display: inline-block;
    width: 50px;
    height: 30px;
    
    margin-left:auto;
    margin-right: auto;
    
    background: url(contact.png) no-repeat center center;
    opacity: .8;   
    
}
a.contact:hover
{
    opacity: .9;
    margin-bottom: -1px;
}
a.contact:active
{
    opacity: 1;
}

/* special class definition that gets used in the fadein fadout functions, should only be called once!*/
a.mtw
{
    display: inline-block;
    text-align: left;
    width: 140px;
    
    background: transparent;
}


