@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

body {
	background: url(images/dusk.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2 {
	font-size: 70px;
	font-weight: 100;
	font-family: 'Roboto', serif;
	margin: 0px;
	padding: 0px;
}

h4 {
	font-size: 30px;
	font-weight: 100;
	font-family: 'Roboto', serif;
}

h3 {
	display: inline-block;
	font-size: 50px;
	font-weight: 100;
	font-family: 'Roboto', serif;
}

.m-15 {
	margin-top: 15px;
}

.color-primary {
	color: #FEBDA5;
}

.mtw{
	display: inline-block;
	text-align: left;
	font-weight: 300;
	color: #FEBDA5;
	width: 140px;
	
	background: transparent;
}

.center {
	text-align: center;
	color: white;
	margin-top: 30%;
}

.navbar{
	position: fixed;
	z-index: 10;
	top: 0px;
	padding: 5px 15px 5px 15px;
	height: 65px;
	width: 100%;
	background-color: transparent;
	display: inline-block;
}

.title-navbar {
	color: white;
	font-size: 20px;
	font-family: 'Roboto', serif;
	font-weight: 300;
	display: inline-block;
}

.button-navbar {
	background-color: rgba(0,0,0, 0.1);
	transition: background-color 0.4s ease;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	color: #FEBDA5;
	border-color: #FEBDA5;
	font-size: 12px;
	font-family: 'Roboto', serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 500px;

}

.button-main {
	/*background-color: #FFB792;*/
	background-color: rgba(0,0,0, 0.2);
	transition: background-color 0.4s ease;
	width: 100px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	color: #FEBDA5;
	border-color: #FEBDA5;
	font-size: 16px;
	font-family: 'Roboto', serif;
	border-style: solid;
	border-width: 1px;
	width: 45px;
	display: inline-block;
	border-radius: 500px;

}

.button-main:hover{
	color: #FEBDA5;
	text-decoration: none;
	background-color: rgba(0,0,0, 0.4);
}

.button-secondary:hover{
	background-color: green;
}

.button-navbar:hover{
	background-color: rgba(0,0,0, 0.2);
}

.scroll-more {
	display: block;
	position: absolute;
	bottom: 30px;
	left: 0px;
}

.scroll-container {
	position: absolute;
	bottom: -800px;
	width: 100%;
	height: 800px;
	padding: 30px 0px 0px 30px;
	margin: 0px;
	background-color: rgba(0,0,0, 0.9);
	color: white;
}