@font-face
{
    font-family: Font;
    src: url('web_font-webfont.eot');
    src: url('web_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_font-webfont.woff') format('woff'),
         url('web_font-webfont.ttf') format('truetype'),
         url('web_font-webfont.svg#coolveticaregular') format('svg');
}

html
{
    background: url(ps_neutral.png);
    
    overflow-x: hidden;
    overflow-y: auto;

    height: 100%;

    margin: 0;
    padding: 0;
    
}

body
{
    background: url(rainbow.png) repeat-x top left;
    background-size: 50% 7px;
    min-width: 700px;
    
    height: 100%;
    
    margin: 0;
    padding: 0;
}

#days-since
{
    margin-top: 100px;
    font-size: 200px;
    color: #ea4c4c;
    opacity: .8;
}

#rainbow
{
    display: block;
    width: 100%;
    height: 20px;
    
    color: transparent;
}

#header
{
    display: block;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: Font;
    font-size: 50px;
    color: #1b1b1b;
    text-align: center;
    
    
}
#gap
{
    display: block;
    width: 100%;
    height: 5px;
    background: transparent;
}

#page
{
    display: block;
    width: 55%;
    height: 200px;
    min-width: 700px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    
    background: transparent;
    
    font-family: Font;
    font-size: 20px;
    text-align: center;
    word-spacing: 2px;
    line-height: 23px;
    color: #1b1b1b;
    
}

#project
{
    display: block;
    width: 55%;
    height: 110px;
    min-width: 700px;

    margin-left: auto;
    margin-right: auto;
    
    font-family: Font;
    font-size: 20px;
    text-align: left;
    word-spacing: 2px;
    line-height: 18px;
    color: #1b1b1b;
    
    margin-top: 10px;
    margin-bottom: 15px;

    
    opacity: .9;
    background: transparent;
    
}


#pic_of_me
{
    display: block;
    width: 457px;
    height: 350px;
    min-width: 60px;
    
    margin-left: auto;
    margin-right: auto;
    
    
/*    background: url(me.png) no-repeat center center;*/
}



/* Class definitions for <a></a> tags--------------------------------------------------------*/
a
{
    text-decoration: none;
    color: #ea4c4c;
    opacity: .9;
}

a:hover
{
    opacity: 1;
}
